:root {
    --text-color:#ffb3d5;
    --h2-color: #00ff2a;
    --background-color:  #7d0038;
}

* {
    box-sizing: border-box;
}

body { 
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    padding: 1em;
}
section:nth-child(2n+1){
    background-color: rgb(49, 49, 49);
}
a{
    text-decoration: none;
    font-size: 100%;
}
p{
    color: var(--text-color)
}
h1{
    color:  #00ff2a;
    text-align: center;
    font-size: 3em;
    /* mix-blend-mode: difference; */
}
img{
    filter: grayscale(100%);

}
img:hover{
    filter: grayscale(0%);
}
.container {
    max-width: 1024px;
    margin: 0 auto;
}

.header{
    background-color: black;
    position: -webkit-sticky;
    position: sticky;
    display: block;
    top: 0;
    margin: 0;
    padding: 0;
    border: 0;
    z-index: 999;
}
nav a {
    color: var(--text-color);
    font-size: 1.2em;
}
ul.menu{
    display: flex;
    flex-wrap: wrap;
	width: 100%;
    margin: 0;
    padding-left: 0;
	justify-content: flex-end;
    text-align: center;
}
ul.menu .logo {
    justify-self: flex-start;
}
ul.menu li.spacer {
    flex-grow: 1;
}
ul.menu li{
    display: block;
}

ul.menu li a {
    padding: 10px;
    display: block;
}

.bg1 {
    background-size: cover;
    background-image: url('../img/view.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    display: block;
    height: 600px;

}
.welcome{
    position: absolute;
    margin: auto;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto 0;
}
.welcome h1{
    background-color: rgba(0, 0, 0, 0.50); 
}
.button{
    background-color:  rgb(122, 122, 122);
    display: block;
    width: 150px;
    padding: 12px 30px 12px 30px;
    height: 60px;
    text-align: center;
    margin: auto;
    letter-spacing: 1px;
    border: 1px solid white;
    border-radius: 15px;
    text-transform: uppercase;
}
.button a{
    color: var(--text-color);
}
.button:hover{
    background-color:  var(--background-color);
}

.poster{
    text-align: center;
}

.poster img{
    border-radius: 50%;
    width: 25%;
}

.aboutMe p{
    text-align: center;
}
.catGallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    /* position: relative;  */

}
.gallery{
    position: relative;
}
.gallery h1{
    background-color: rgba(0, 0, 0, 0.50); 
    position: absolute;
    margin: auto;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.catGallery img{
    width: 100%;
    position: relative;
    transition: transform o.2 ease-in-out;
}  
.catGallery img:hover{
    transform: scale(1.5, 1.5) rotate(-5deg);
    z-index: 3;
}
.timelineBlock{
    position: relative;
    display: grid;
    grid-template-columns: [left]1fr [right]1fr;
    grid-template-rows: 1fr;
}

.timelineBlock p{
    border: 5px solid green;
    border-image: linear-gradient(to right, rgb(241, 14, 173) 0%, rgb(0, 13, 128) 100%);
    border-image-slice: 1;
    grid-column: right;
    background-color: black;
    display: block;
    grid-row: 1/3;
    text-align: center;
    margin: auto;
    padding: 20px 5px;
    width: 90%;
    }
.timelineBlock p::before {
    content: " ";
    height: 0;
    position: absolute;
    width: 0;
    z-index: 1;
    right: 95%;
    top: 52px;
    grid-column: right;
    border: medium solid rgb(241, 14, 173);
    border-width: 10px 10px 10px 0;
    border-color: transparent rgb(241, 14, 173) transparent transparent;
}
.ball{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color:rgb(241, 14, 173);
    border: 2px solid rgb(0, 13, 128);
    margin: 0 auto;
    grid-column: center;
    grid-column: left;
}
.timelineBlock h2{
    text-align: center;
    grid-column: left;
    background-color: var(--h2-color);
    margin: 20px;
}
/* .timelineBlock:first-child h2{
    background-color: white;
} */

.timelineBlock h2::before{
    content: ' ';
    z-index: -1;
    position: absolute;
    display: block;
    width: 2px;
    height: 100%;
    background: rgb(241, 14, 173);
    left: 25%;
    transform: translateX(-50%);
}
.timelineBlock:last-child h2::before{
    height: 50%;
}
.contactForm form{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    vertical-align: baseline;
}
.userData{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    vertical-align: baseline;
}

.userData input{
    box-sizing: border-box;
    background: white;
    padding: 1.5em 1em 1.5em 1em;
    border-radius: 0.25em;
    border: 0;
    width: 20em;
    margin: 10px 5px;
 

}

textarea{
    appearance: none;
    display: block;
    background: white;
    padding: 0.85em 1em 0.85em 1em;
    border-radius: 0.25em;
    border: 0;
    min-height: 13em;
    margin: 5px 0;
    width: 80%;
}
.formButton{
    width: 20em;
    margin: 10px 5px;
    color: var(--text-color)
}
.icon{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.icon a{
    font-size: 3em;
    text-align: center;
    color: var(--h2-color);
    padding: 0.85em 1em 0.85em 1em;
}

.footer{
    background-color: black;
    bottom: 0;
    text-align: center;
    padding: 3px;

}
.footer h2{
    color: var(--text-color)
}
.footer a{
    color: var(--text-color)
}

@media only screen and (min-width: 600px) {
    .timelineBlock{
        position: relative;
        display: grid;
        grid-template-columns: [left]1fr [center]auto [right]1fr;
        grid-template-rows: 1fr 1fr;
    }
    .timelineBlock:nth-child(2n) p{
        border: 5px solid green;
        border-image: linear-gradient(to right, rgb(0, 13, 128) 0%, rgb(241, 14, 173) 100%);
        border-image-slice: 1;
        grid-column: left;
        
    }
    .timelineBlock:nth-child(2n+1) p{
        border: 5px solid green;
        border-image: linear-gradient(to right, rgb(241, 14, 173) 0%, rgb(0, 13, 128) 100%);
        border-image-slice: 1;
        grid-column: right;

    }

    .timelineBlock:nth-child(2n) p::before {
        content: " ";
        height: 0;
        position: absolute;
        width: 0;
        z-index: 1;
        left: 95%;
        top: 50px;
        grid-column: left;
        border: medium solid rgb(241, 14, 173);
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent rgb(241, 14, 173);
    }
    .timelineBlock:nth-child(2n+1) p::before {
        content: " ";
        height: 0;
        position: absolute;
        width: 0;
        z-index: 1;
        right: 95%;
        top: 50px;
        grid-column: right;
        border: medium solid rgb(241, 14, 173);
        border-width: 10px 10px 10px 0;
        border-color: transparent rgb(241, 14, 173) transparent transparent;
    }

    .ball{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color:rgb(241, 14, 173);
        border: 1px solid  rgb(0, 13, 128);
        margin: 0 auto;
        grid-column: center;
        
    }
    .timelineBlock h2{
        text-align: center;
        grid-column: center;
        margin-bottom: 0;
    }
    .timelineBlock h2::before{
        content: ' ';
        z-index: -1;
        position: absolute;
        display: block;
        width: 2px;
        height: 100%;
        background: rgb(241, 14, 173);
        left: 50%;
        transform: translateX(-50%);
    }
    .timelineBlock:last-child h2::before{
      height: 50%;
    }
}
